@model Pessoas.Models.Produto

@{
    ViewData["Title"] = "Adicionar produto";
}


<h3><a href="/Produtos/Index">Produtos</a> > Adicionar Produto</h3>

<hr />
<style>
    .dz-default {
        padding-top: 28px;
        padding-bottom: 28px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        border-width: 1px;
        border-style: dashed;
        border-color: #039be5;
    }

    .dz-image-preview {
        border-width: 1px;
        border-style: dashed;
        border-color: #039be5;
    }
    /*.dz-button {*/
        /*color: #fff !important;
        background-color: #1b6ec2 !important;
        border-color: #1861ac !important;*/
        /*background-color: #1b6ec2 !important;
        border: none !important;
        color: white !important;
        padding: 15px 32px !important;
        text-align: center !important;
        text-decoration: none !important;
        display: inline-block !important;
        font-size: 16px !important;
        border-radius: 12px !important;
    }*/
</style>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <form asp-action="Create" method="post" enctype="multipart/form-data" class="dropzone" id="dropzoneForm" style="border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodigoBarra" class="control-label">Código de Barra</label>
                <input asp-for="CodigoBarra" class="form-control" />
                <span asp-validation-for="CodigoBarra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label">Nome</label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoDetalhada" class="control-label">Descrição Detalhada</label>
                <textarea asp-for="DescricaoDetalhada" class="form-control"></textarea>
                <span asp-validation-for="DescricaoDetalhada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estoque" class="control-label">Estoque</label>
                <input asp-for="Estoque" class="form-control" />
                <span asp-validation-for="Estoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label">Preço (R$)</label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            
            <div>
                <button id="teste" type="button" class="btn btn-outline-primary">Adicionar Imagens</button>
            </div>
            <div class="fallback" style="border-top-width: 1px; border-left-width: 1px; border-bottom-width: 1px; border-right-width: 1px;">
                <input name="file" type="file" multiple />

            </div>

            <br />
        </form>
        <br />
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" id="submit" />
        </div>
        <div>
            <a asp-action="Index">Voltar para a lista</a>
        </div>

    </div>
    <div class="col-md-1"></div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

        });
        function myParamName() {
            var files = "files";
            return files;
        }

        Dropzone.options.dropzoneForm = {
            autoProcessQueue: false,
            clickable: "#teste",
            paramName: myParamName, // The name that will be used to transfer the file
            addRemoveLinks: true,
            uploadMultiple: true,
            parallelUploads: 100,
            dictDefaultMessage: 'Solte os arquivos aqui para fazer o upload',
            dictRemoveFile: "Remover arquivo",
            dictMaxFilesExceeded: "Você não pode enviar mais arquivos.",
            dictCancelUploadConfirmation: "Tem certeza que deseja cancelar este upload?",
            dictFileTooBig: "Arquivo muito grande ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.",
            dictFallbackText: "Use o formulário substituto abaixo para fazer upload de seus arquivos como antigamente.",
            dictFallbackMessage: "Seu navegador não suporta uploads de arquivos arrastar e soltar.",
            dictInvalidFileType: "Você não pode fazer upload de arquivos deste tipo.",
            dictCancelUpload: "Cancelar upload",
            dictUploadCanceled: "Upload cancelado.",
            acceptedFiles: ".png,.jpg,.gif,.jpeg",
            init: function () {
                console.log("active");
                var wrapperThis = this;

                $("#submit").click(function (e) {
                    //var produtoId =  Model.Produto.ProdutoId;
                    //var files = "files";
                    //alert(produtoId + files);
                    console.log($(this));
                    e.preventDefault();
                    wrapperThis.processQueue();
                    //$("#cad_sucesso").show();
                    //alert("Cadastrado com sucesso!");
                    var r = confirm("Cadastrado com sucesso!");
                    if (r == true) {
                        window.location.href = "https://localhost:5001/Produtos/Index";
                    }
                    else {
                        alert("");
                    }
                });
            },
            accept: function (file, done) {
                done();
            },
            removedfile: function (file) {
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        };


    </script>
}
